<div class="header">
  <div class="red circle-button"></div>
  <div class="yellow circle-button"></div>
  <div class="green circle-button"></div>
</div>

<div class="nav-bar">
  <div class="app-name" (click)="unSelectMovie()">
    WOOKIE<br>MOVIES
  </div>
  <div class="search">
    <fa-icon [icon]="faSearch"></fa-icon>
    <input [ngModel]="searchText" (ngModelChange)="filterMovies($event)">
  </div>
</div>

<div class="movie-wrapper">
  <div *ngIf="!selectedMovie">
    <app-movie-list [movies]="movies" (selectMovie)="selectMovie($event)"></app-movie-list>
  </div>
  <div *ngIf="selectedMovie">
    <app-movie-detail [movie]="selectedMovie" (unSelectMovie)="unSelectMovie()"></app-movie-detail>
  </div>
</div>